/*------------------------------------------------------------------
[All Skin Stylesheet]

Project:	CrmX Admin - Responsive Admin Template
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Table of contents]

-------------------------------------------------------------------*/


/*---light skin---*/

.light-skin .main-header li.user-header {
  background-color: #fff;
}
.light-skin .main-header .navbar .sidebar-toggle, 
.light-skin .main-header .navbar .res-only-view {
    color: #ffffff;
}
.light-skin .main-header .navbar .nav > li > a {
    color: #ffffff;
}
.light-skin .main-header .navbar .nav > li > a:hover, 
.light-skin .main-header .navbar .nav > li > a:active, 
.light-skin .main-header .navbar .nav > li > a:focus, 
.light-skin .main-header .navbar .nav .open > a, 
.light-skin .main-header .navbar .nav .open > a:hover, 
.light-skin .main-header .navbar .nav .open > a:focus, 
.light-skin .main-header .navbar .nav > .active > a{ 
    background-color: rgba(0, 0, 0, 0.05);
}
.light-skin .main-sidebar,
.light-skin .left-side {
    box-shadow: 0 10px 15px -5px rgba(62, 57, 107, .07);
    background-color: rgba(255, 255, 255, 0.95);
}
.light-skin .user-panel > .info,
.light-skin .user-panel > .info > a {
  color: #fff;
}
.light-skin .sidebar-menu>li:hover>a, 
.light-skin .sidebar-menu>li.active>a, 
.light-skin .sidebar-menu > li.menu-open > a{
  color: #212529;
}
.light-skin .sidebar-menu > li > .treeview-menu {
  margin: 0 0px;
}
.light-skin.sidebar-collapse .sidebar-menu > li > .treeview-menu {
    background-color: rgba(255,255,255,0.95);
}
.light-skin.sidebar-mini.sidebar-collapse .sidebar-menu>li>a>span {
    background-color: rgba(255,255,255,0.95) !important;
}
@media (max-width:767px) {
	.light-skin.sidebar-mini.sidebar-collapse .sidebar-menu>li>a>span {
		background-color: rgba(255,255,255,0) !important;
	}
	.light-skin.sidebar-mini.sidebar-collapse .sidebar-menu>li.menu-open>a, .light-skin.sidebar-mini.sidebar-collapse .sidebar-menu>li.active>a {
		background-color: rgba(255,255,255,0.95) !important;
	}
}
.light-skin .sidebar a {
  color: #212529;
}
.light-skin .sidebar a:hover {
  text-decoration: none;
}
.light-skin .sidebar-form {
  border-radius: 3px;
  border: 1px solid #898989;
}
.light-skin .sidebar-form input[type="text"],
.light-skin .sidebar-form .btn {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.59);
  border: 1px solid rgba(0, 0, 0, 0.59);
  height: 35px;
}
.light-skin .sidebar-form input[type="text"] {
  color: #fff;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.light-skin .sidebar-form input[type="text"]:focus,
.light-skin .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  color: #fff;
}
.light-skin .sidebar-form .btn {
  color: #f7f7f7;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}

.light-skin .control-sidebar {
    color: #5e5e5e;
}
.light-skin .control-sidebar, .control-sidebar+.control-sidebar-bg {
    background: #ffffff;
}

.light-skin .control-sidebar+.control-sidebar-bg {
    -webkit-box-shadow: 0px 5px 10px 1px rgba(80,80,80, 0.2);
    -moz-box-shadow: 0px 5px 10px 1px rgba(80,80,80, 0.2);
    box-shadow: 0px 5px 10px 1px rgba(80,80,80, 0.2);
}
.light-skin .control-sidebar .nav-tabs.control-sidebar-tabs {
    border-bottom: 1px solid #d2d6de;
}
.light-skin .control-sidebar .nav-tabs.control-sidebar-tabs>li>a {
    color: #455a64;
}
.light-skin .control-sidebar .nav-tabs.control-sidebar-tabs>li>a, 
.light-skin .control-sidebar .nav-tabs.control-sidebar-tabs>li>a:focus, 
.light-skin .control-sidebar .nav-tabs.control-sidebar-tabs>li>a:hover {
    border-bottom-color: #d2d6de;
}
.light-skin .control-sidebar .nav-tabs.control-sidebar-tabs>li>a:active, 
.light-skin .control-sidebar .nav-tabs.control-sidebar-tabs>li>a:focus, 
.light-skin .control-sidebar .nav-tabs.control-sidebar-tabs>li>a:hover {
    background-color: transparent;
}
.light-skin .control-sidebar .nav-tabs.control-sidebar-tabs>li>a.active, 
.light-skin .control-sidebar .nav-tabs.control-sidebar-tabs>li>a.active:active, 
.light-skin .control-sidebar .nav-tabs.control-sidebar-tabs>li>a.active:focus, 
.light-skin .control-sidebar .nav-tabs.control-sidebar-tabs>li>a.active:hover {
	background-color: transparent;
}
.light-skin .control-sidebar .control-sidebar-heading, 
.light-skin .control-sidebar .control-sidebar-subheading {
    color: #455a64;
}
.light-skin .control-sidebar .control-sidebar-menu {
    margin-left: -14px;
}
.light-skin .control-sidebar .control-sidebar-menu>li>a:hover {
    background: #f4f4f5;
}
.light-skin .control-sidebar .control-sidebar-menu>li>a .menu-info>p {
    color: #5e5e5e;
}








/*---Dark skin---*/

body.dark-skin {
    background-color: #303030;
	color: rgba(255, 255, 255, 0.80);
}
.dark-skin h1, 
.dark-skin h2, 
.dark-skin h3, 
.dark-skin h4, 
.dark-skin h5, 
.dark-skin h6 {
    color: #ffffff;
}
.dark-skin a {
    color: rgba(255,255,255,0.7);
}
.dark-skin .form-control {
    background-color: #424242;
	color: #ffffff;
}
.dark-skin .search-box .app-search .srh-btn {
    background: #424242;
}
.dark-skin .dropdown-menu {
    background-color: #424242;
}
.dark-skin .navbar-nav>.user-menu>.dropdown-menu>.user-body {
    border-color: rgba(255, 255, 255, 0.12);
}
.dark-skin .dropdown-menu>li>a {
    color: rgba(255, 255, 255, 0.7);
}
.dark-skin .dropdown-divider {
    border-color: rgba(255, 255, 255, 0.12);
}
.dark-skin .navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a, .dark-skin .navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a, .dark-skin .navbar-nav>.tasks-menu>.dropdown-menu>li .menu>li>a {
    border-color: rgba(255, 255, 255, 0.12);
}
.dark-skin .navbar-nav>.messages-menu>.dropdown-menu>li.header, .dark-skin .navbar-nav>.notifications-menu>.dropdown-menu>li.header, .dark-skin .navbar-nav>.tasks-menu>.dropdown-menu>li.header {
    border-color: rgba(255, 255, 255, 0.12);
}
.dark-skin .navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a>div>h4, .dark-skin .navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a, .dark-skin .navbar-nav>.tasks-menu>.dropdown-menu>li .menu>li>a>h3 {
    color: rgba(255, 255, 255, 0.7);
}
.dark-skin .navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a:hover, .dark-skin .navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a:hover, .dark-skin .navbar-nav>.tasks-menu>.dropdown-menu>li .menu>li>a:hover {
    background: rgba(0, 0, 0, 0.2);
}
.dark-skin .navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a>div>h4>small {
    color: rgba(255, 255, 255, 0.7);
}
.dark-skin .navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a>div>span {
    color: rgba(255, 255, 255, 0.7);
}
.dark-skin .navbar-nav>.messages-menu>.dropdown-menu>li.header, .dark-skin .navbar-nav>.notifications-menu>.dropdown-menu>li.header, .dark-skin .navbar-nav>.tasks-menu>.dropdown-menu>li.header {
    border-bottom: 1px solid rgba(156,161,178,0.3);
    color: #ffffff;
	background-color: #424242;
}

.dark-skin .content-header .page-title {
    color: #ffffff;
	border-color: #868686;
}
.dark-skin .content-header .right-title .dropdown>.btn {
    border-color: rgba(255, 255, 255, 0.12)!important;
    background: #424242;
}

.dark-skin .subheader_daterange {
    background: #424242;
}
.dark-skin .dropdown-menu, .dropdown-grid {
    border-color: rgba(255, 255, 255, 0.12);
}
.dark-skin .ranges li {
    background-color: rgba(0, 0, 0, 0.2);
    border-color: rgba(255, 255, 255, 0.12);
    color: rgba(255, 255, 255, 0.7);
}
.dark-skin .btn-default {
    background-color: #737373;
    color: #bcbec7;
    border-color: rgba(255, 255, 255, 0.12);
}
.dark-skin .btn-default.hover, .dark-skin .btn-default:active, .dark-skin .btn-default:hover {
    background-color: #6d7586;
    border-color: #6d7586;
}
.dark-skin .box, .dark-skin .box-footer, .dark-skin .card {
    background-color: #424242;
}
.dark-skin .card-header, .dark-skin .card-footer {
    background-color: transparent !important;
}
.dark-skin .box-transparent {
    background-color: transparent !important;
    box-shadow: none !important;
}
.dark-skin .left-block .left-content-area > .box, .dark-skin .left-block .left-content-area > .card {
    background-color: #212121;
}
.dark-skin .box-header {
    color: #ffffff;
}
.dark-skin .box[class*=bg-pale]> .box-header {
    color: #455a64;
}
.dark-skin .todo-list>li {
    color: #bcbec7;
}
.dark-skin .box-header, .dark-skin .box-footer, .dark-skin .card-header, .dark-skin .card-footer  {
    border-color: rgba(255, 255, 255, 0.12);
}
.dark-skin .box .box-header .box-subtitle {
    color: rgba(255, 255, 255, 0.7);
}
.dark-skin .btn-box-tool:hover, .dark-skin .show .btn-box-tool {
    color: rgba(255, 255, 255, 0.7);
}
.dark-skin .box-solid .box-body {
    background-color: #424242 !important;
    color: rgba(255, 255, 255, 0.7);
}
.dark-skin .page-header {
    border-color: rgba(255, 255, 255, 0.12);
}
.dark-skin .box-inverse{
  color: #fff !important;
  background-color: #526069;
}
.dark-skin .box-inverse .box-header{
  color: #fff !important;
}
.dark-skin .box-inverse .box-title{
  color: #ffffff !important;
}
.dark-skin .box-inverse h1, .dark-skin .box-inverse h2, .dark-skin .box-inverse h3, .dark-skin .box-inverse h4, .dark-skin .box-inverse h5, .dark-skin .box-inverse h6,
.dark-skin .box-inverse small,
.dark-skin .box-inverse .box-controls li > a {
  color: rgba(255, 255, 255, 0.8) !important;
}

.dark-skin .box-inverse .box-btn-more::before,
.dark-skin .box-inverse .box-btn-more::after {
  border-color: #fff;
}

.dark-skin .box-inverse .box-header,
.dark-skin .box-inverse .box-footer,
.dark-skin .box-inverse .box-action {
  border-color: rgba(255, 255, 255, 0.15);
}


.dark-skin .box-gray {
  background-color: #868e96;
}

.dark-skin .box-gray.box-bordered {
  border-color: #868e96;
}

.dark-skin .box-dark {
  background-color: #526069;
}

.dark-skin .box-dark.box-bordered {
  border-color: #526069;
}

.dark-skin .box-bordered {
  border-color: rgba(255, 255, 255, 0.12);
}

.dark-skin .box .border-right {
    border-right: 1px solid #f4f4f4;
}
.dark-skin .box .border-left {
    border-left: 1px solid #f4f4f4;
}

.dark-skin .box.box-solid.box-default>.box-header {
    color: #455a64;
    background: #d2d6de;
}
.dark-skin .box.box-solid.box-default>.box-header .btn, .dark-skin .box.box-solid.box-default>.box-header a {
    color: #455a64;
}

.dark-skin .box.box-solid.box-primary>.box-header {
    color: #fff;
    background: #0bb2d4;
}
.dark-skin .box.box-solid.box-primary>.box-header .btn, .dark-skin .box.box-solid.box-primary>.box-header a {
    color: #ffffff;
}

.dark-skin .box.box-solid.box-info>.box-header {
    color: #fff;
    background: #3e8ef7;
}

.dark-skin .box.box-solid.box-danger>.box-header {
    color: #fff;
    background: #ff4c52;
}
.dark-skin .box.box-solid.box-danger>.box-header .btn, .dark-skin .box.box-solid.box-danger>.box-header a {
    color: #ffffff;
}

.dark-skin .box.box-solid.box-warning>.box-header {
    color: #fff;
    background: #faa700;
}
.dark-skin .box.box-solid.box-warning>.box-header .btn, .dark-skin .box.box-solid.box-warning>.box-header a {
    color: #ffffff;
}

.dark-skin .box.box-solid.box-success>.box-header {
    color: #fff;
    background: #17b3a3;
}
.dark-skin .box.box-solid.box-success>.box-header .btn, .dark-skin .box.box-solid.box-success>.box-header a {
    color: #ffffff;
}
.dark-skin .box.box-solid>.box-header>.box-tools .btn {
    border: 0;
    box-shadow: none;
}
.dark-skin .box.box-solid[class*=bg]>.box-header {
    color: #fff;
}
.dark-skin .box .overlay, .overlay-wrapper .overlay {
    background: rgba(255, 255, 255, .7);
}
.dark-skin .box .overlay.dark-skin, .overlay-wrapper .overlay.dark-skin {
    background: rgba(0, 0, 0, .5);
}

.dark-skin .b-1, .dark-skin .bt-1, .dark-skin .br-1, .dark-skin .bb-1, .dark-skin .bl-1, .dark-skin .bx-1, .dark-skin .by-1,
.dark-skin .b-2, .dark-skin .bt-2, .dark-skin .br-2, .dark-skin .bb-2, .dark-skin .bl-2, .dark-skin .bx-2, .dark-skin .by-2 ,
.dark-skin .b-3, .dark-skin .bt-3, .dark-skin .br-3, .dark-skin .bb-3, .dark-skin .bl-3, .dark-skin .bx-3, .dark-skin .by-3 ,
.dark-skin .b-4, .dark-skin .bt-4, .dark-skin .br-4, .dark-skin .bb-4, .dark-skin .bl-4, .dark-skin .bx-4, .dark-skin .by-4 ,
.dark-skin .b-5, .dark-skin .bt-5, .dark-skin .br-5, .dark-skin .bb-5, .dark-skin .bl-5, .dark-skin .bx-5, .dark-skin .by-5 {
  border-color: rgba(255, 255, 255, 0.12) !important;
}


.dark-skin .border-gray {
  border-color: #868e96 !important;
}

.dark-skin .border-dark {
  border-color: #526069 !important;
}

.dark-skin .border-transparent {
  border-color: transparent !important;
}

.dark-skin .border-white {
  border-color: #fff !important;
}

.dark-skin .border-light {
  border-color: #656880 !important;
}

.dark-skin .border-fade {
  border-color: rgba(255, 255, 255, 0.2) !important;
}

.dark-skin .text-fade {
    color: rgba(190, 196, 206, 0.7) !important;
}
.dark-skin .text-lighter {
    color: #c2c7ce !important;
}
.dark-skin .text-dark {
    color: rgba(255, 255, 255, 0.7) !important;
}
.dark-skin .text-gray {
    color: #d2d6de !important;
}
.dark-skin .text-fader {
    color: rgba(206, 209, 214, 0.5) !important;
}

.dark-skin .bg-lighter {
    background-color: #4a4d63 !important;
}
.dark-skin .bg-white {
    background-color: #3b3e52 !important;
}
.dark-skin .bg-light {
    background-color: #333333 !important;
}
.dark-skin .bg-gray {
    background-color: #878f9e;
}
.dark-skin .bg-gray-light {
    background-color: #626a79;
}

/*---------social media background-----------*/
.dark-skin .bg-bitbucket{
	background-color: #205081;
}
.dark-skin .bg-dropbox{
	background-color: #007ee5;
}
.dark-skin .bg-facebook{
	background-color: #3b5998;
}
.dark-skin .bg-flickr{
	background-color: #ff0084;
}
.dark-skin .bg-foursquare{
	background-color: #f94877;
}
.dark-skin .bg-github{
	background-color: #455a64;
}
.dark-skin .bg-google{
	background-color: #dd4b39;
}
.dark-skin .bg-instagram{
	background-color: #e1306c;
}
.dark-skin .bg-linkedin{
	background-color: #007bb6;
}
.dark-skin .bg-tumblr{
	background-color: #2c4762;
}
.dark-skin .bg-twitter{
	background-color: #55acee;
}
.dark-skin .bg-vk{
	background-color: #587ea3;
}


.dark-skin .info-box {
    background-color: #424242;
}

.dark-skin .badge-default {
    color: #bcbec7;
    background-color: #737373;
}

.dark-skin code {
    border-color: rgba(255, 255, 255, 0.12);
    background-color: #212121;
}
.dark-skin .code-preview {
    border-color: rgba(255, 255, 255, 0.12);
    background-color: #212121;
}

.dark-skin .table {
    color: rgba(255, 255, 255, 0.7);
}
.dark-skin .table>thead>tr>th,
.dark-skin .table>tbody>tr>td, .dark-skin .table>tbody>tr>th, .dark-skin .table>tfoot>tr>td, .dark-skin .table>tfoot>tr>th, .dark-skin .table>thead>tr>td, .dark-skin .table>thead>tr>th{
    border-color: rgba(255, 255, 255, 0.12);
}
.dark-skin .table-active, .dark-skin .table-active > th, .dark-skin .table-active > td {
    background-color: #313344;
}
.dark-skin .page-item.disabled .page-link {
    color: rgba(255, 255, 255, 0.7);
    background-color: #6d7586;
    border-color: rgba(255, 255, 255, 0.12);
}
.dark-skin .pagination>li>a {
    background-color: #3b3e52;
}
.dark-skin .paging_simple_numbers .pagination .paginate_button, .dark-skin .paging_simple_numbers .pagination .paginate_button:hover {
    background-color: transparent;
}
.dark-skin .main-footer {
    background: #212121;
    color: rgba(255, 255, 255, 0.7);
    border-color: rgba(255, 255, 255, 0.12);
}
.dark-skin .nav>li>a:active, .dark-skin .nav>li>a:focus, .dark-skin .nav>li>a:hover {
    color: #81848e;
}

.dark-skin .left-block {
    border-color: rgba(255, 255, 255, 0.12) !important;
    background-color: rgba(33, 33, 33, 0.5);
}
.dark-skin .media-list-hover > .media:not(.media-list-header):not(.media-list-footer):hover, .dark-skin .media-list-hover .media-list-body > .media:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.dark-skin .form-control {
    border-color: rgba(255, 255, 255, 0.12);
}
.dark-skin .table-bordered, .dark-skin .table-bordered>tbody>tr>td, .dark-skin .table-bordered>tbody>tr>th, .dark-skin .table-bordered>tfoot>tr>td, .dark-skin .table-bordered>tfoot>tr>th, .dark-skin .table-bordered>thead>tr>td, .dark-skin .table-bordered>thead>tr>th {
    border-color: rgba(255, 255, 255, 0.12);
}

.dark-skin .btn.btn-outline {
    color: #efeff1;
}
.dark-skin .btn-outline:hover {
    color: #ffffff;
    background-color: rgba(0,0,0,0.2);
}
.dark-skin .btn-outline.btn-white {
    color: #ffffff !important;
    border-color: #ffffff !important;
}
.dark-skin .btn-outline.btn-dark {
    color: #bcbec7 !important;
    background-color: transparent;
    border-color: #526069;
}

.dark-skin .dropdown-item:focus, .dark-skin .dropdown-item:hover {
    background-color: #212121;
	    color: #bcbec7;
}
.dark-skin .dropdown-grid .dropdown-item:hover {
    border-color: #424242;
}
.dark-skin .modal-content {
    background-color: #424242;
}
.dark-skin .modal-header, .dark-skin .modal-footer  {
    border-color: rgba(255, 255, 255, 0.12);
}
.dark-skin .close {
    color: #dadada;
    text-shadow: none;
}

.dark-skin .flex-column>li>a {
    color: #dadada;
}
.dark-skin .box .flex-column>li {
    border-color: rgba(255, 255, 255, 0.12);
}
.dark-skin .mailbox-nav .nav-pills>li>a.active, .dark-skin .mailbox-nav .nav-pills>li>a.active:focus, .dark-skin .mailbox-nav .nav-pills>li>a.active:hover, .mailbox-nav .nav-pills>li>a:focus, .dark-skin .mailbox-nav .nav-pills>li>a:hover {
    background: rgba(0, 0, 0, 0.2);
}
.dark-skin .mailbox-messages table a {
    color: rgba(255, 255, 255, 0.7);
}
.dark-skin .mailbox-messages .mailbox-date {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
}
.dark-skin .callout .highlight, .callout code, .dark-skin .wysihtml5-toolbar .btn-default {
    background-color: #424242;
}
.dark-skin .mailbox-controls.with-border, .dark-skin .mailbox-read-info {
    border-color: rgba(255, 255, 255, 0.12);
}
.dark-skin .mailbox-read-time {
    color: rgba(255, 255, 255, 0.7);
}
.dark-skin .mailbox-attachment-info {
    background: #212121;
}
.dark-skin .mailbox-attachments li {
    border-color: rgba(255, 255, 255, 0.12);
}

.dark-skin .lookup::before {
    color: rgba(255, 255, 255, 0.4);
}
.dark-skin .form-element .form-control, .dark-skin .form-element .form-control:focus {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3e8ef7), to(#3e8ef7)), -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.12)), to(rgba(255, 255, 255, 0.12)));
    background-image: -webkit-linear-gradient(#3e8ef7 , #3e8ef7), -webkit-linear-gradient(rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.12));
    background-image: -o-linear-gradient(#3e8ef7 , #3e8ef7), -o-linear-gradient(rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.12));
    background-image: linear-gradient(#3e8ef7 , #3e8ef7), linear-gradient(rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.12));
}
.dark-skin .media a:not(.btn):not(.avatar) {
    color: #dadada;
}
.dark-skin .direct-chat-text p {
    background: #212121;
    color: #dadada;
}
.dark-skin .direct-chat-timestamp {
    color: #a3a8ab;
}
.dark-skin time {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
}
.dark-skin .input-group .input-group-addon, .dark-skin .input-group-text {
    border-color: rgba(255, 255, 255, 0.12);
	    color: rgba(255, 255, 255, 0.5);
    background-color: #212121;
}

.dark-skin .wysihtml5-sandbox, .dark-skin .wysihtml5-sandbox body.placeholder{
	background-color: #212121 !important;
	border-color: rgba(255, 255, 255, 0.12) !important;
}

.dark-skin .wizard-content .wizard>.steps>ul>li {
    background-color: #212121;
    border-color: rgba(255, 255, 255, 0.12);
}

.dark-skin ul.list-style-none li a {
    color: #dadada;
}
.dark-skin .divider-dash {
    color: #dadada;
}

.dark-skin .fc-toolbar .fc-center {
    color: rgba(255, 255, 255, 0.7);
}
.dark-skin .fc-button {
    background: #212121;
    border-color: rgba(255, 255, 255, 0.12);
    color: rgba(255, 255, 255, 0.7);
	text-shadow: none;
}
.dark-skin .fc th.fc-fri, .dark-skin .fc th.fc-mon, .dark-skin .fc th.fc-sat, .dark-skin .fc th.fc-sun, .dark-skin .fc th.fc-thu, .dark-skin .fc th.fc-tue, .dark-skin .fc th.fc-wed {
    background: #212121;
}
.dark-skin .fc-unthemed .fc-content, .dark-skin .fc-unthemed .fc-divider, .dark-skin .fc-unthemed .fc-list-heading td, .dark-skin .fc-unthemed .fc-list-view, .dark-skin .fc-unthemed .fc-popover, .dark-skin .fc-unthemed .fc-row, .dark-skin .fc-unthemed tbody, .dark-skin .fc-unthemed td, .dark-skin .fc-unthemed th, .dark-skin .fc-unthemed thead {
    border-color: rgba(255, 255, 255, 0.12);
}
.dark-skin .fc th.fc-widget-header {
    color: rgba(255, 255, 255, 0.7);
}
.dark-skin .fc-day {
    background: #424242;
}
.dark-skin .fc-unthemed .fc-today {
    border-color: rgba(255, 255, 255, 0.12);
    background: #212121!important;
}

.dark-skin .box-profile.nav-tabs-custom>.nav-tabs {
    background-color: #424242;
}

.dark-skin .nav-tabs-custom>.nav-tabs>li>a.active:hover, .dark-skin .nav-tabs-custom>.nav-tabs>li>a.active {
    background-color: #212121;
    color: rgba(255, 255, 255, 0.7);
}
.dark-skin .box-profile.nav-tabs-custom>.nav-tabs>li>a.active:hover, .dark-skin .box-profile.nav-tabs-custom>.nav-tabs>li>a.active {
    color: rgba(255, 255, 255, 0.7);
}
.dark-skin .nav-tabs-custom>.nav-tabs>li>a.active {
    border-left-color: rgba(255, 255, 255, 0.12);
    border-right-color: rgba(255, 255, 255, 0.12);
}
.dark-skin .media-body > p:last-child {
    color: rgba(255, 255, 255, 0.7);
}
.dark-skin .media-list-divided > .media:not(.media-list-header):not(.media-list-footer), .dark-skin .media-list-divided .media-list-body > .media {
    border-bottom-color: rgba(255, 255, 255, 0.2);
}
.dark-skin .publisher-multi .publisher-input {
    color: #fff;
}

.dark-skin .user-block .description {
    color: rgba(255, 255, 255, 0.7);
}
.dark-skin .post {
    border-bottom-color: rgba(255, 255, 255, 0.12);
    color: rgba(255, 255, 255, 0.7);
}
.dark-skin .form-element .form-control {
    color: rgba(255, 255, 255, 0.7);
}

.dark-skin .blockquote, .dark-skin .blockquote footer {
    color: rgba(255, 255, 255, 0.7);
}

.dark-skin .progress {
    background-color: #212121;
}

.dark-skin .ribbon-wrapper, .dark-skin .ribbon-wrapper-reverse, .dark-skin .ribbon-wrapper-bottom, .dark-skin .ribbon-wrapper-right-bottom {
    background: #424242;
}

.dark-skin .flexslider {
    background: #424242;
    border-color: transparent;
}

.dark-skin .slider-track {
    background-color: #212121;
	background-image: -moz-linear-gradient(top, #212121, #212121);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#212121), to(#212121));
    background-image: -webkit-linear-gradient(top, #212121, #212121);
    background-image: -o-linear-gradient(top, #212121, #212121);
    background-image: linear-gradient(to bottom, #212121, #212121);
}

.dark-skin .vtabs .tabs-vertical li .nav-link {
    color: #ffffff ;
}
.dark-skin .tabcontent-border {
    border-color: rgba(255, 255, 255, 0.12);
}
.dark-skin .nav-tabs {
    border-color: rgba(255, 255, 255, 0.12);
}
.dark-skin .nav-tabs .nav-link {
    border-color: rgba(255, 255, 255, 0.12);
}
.dark-skin .nav-pills>li>a, .dark-skin .nav-tabs .nav-link {
    color: rgba(255, 255, 255, 0.7);
}
.dark-skin .nav-pills>li>a.active, .dark-skin .nav-tabs .nav-link.active {
    color: #ffffff !important;
}
.dark-skin .nav-tabs-inverse-mode .nav-link.active, .dark-skin .nav-tabs-inverse-mode .nav-link.active:focus, .dark-skin .nav-tabs-inverse-mode .nav-link.active:hover{
    color: rgba(255, 255, 255, 0.7) !important;
}

.dark-skin .timeline__post {
    background-color: #212121;
}
.dark-skin .timeline .timeline-item > .timeline-event, .dark-skin .timeline .timeline-item > .timeline-event.timeline-event-default {
    background: #212121;
    border-color: rgba(255, 255, 255, 0.12);
    color: rgba(255, 255, 255, 0.7);
}
.dark-skin .timeline .timeline-item > .timeline-event:before, .dark-skin .timeline .timeline-item > .timeline-event.timeline-event-default:before {
    border-left-color: rgba(255, 255, 255, 0.12);
    border-right-color: rgba(255, 255, 255, 0.12);
}
.dark-skin .timeline .timeline-item > .timeline-event:after, .dark-skin .timeline .timeline-item > .timeline-event.timeline-event-default:after {
    border-left-color: #212121;
    border-right-color: #212121;
}
.dark-skin .panel {
    background-color: #212121;
}
.dark-skin .panel-title {
    color: rgba(255, 255, 255, 0.7);
}

.dark-skin .fontawesome-icon-list .fa-hover, .ion-icon-list .ion-hover {
    color: rgba(255, 255, 255, 0.7);
}
.dark-skin .bs-glyphicons li {
    border-color: rgba(255, 255, 255, 0.12);
    color: rgba(255, 255, 255, 0.7);
}
.dark-skin .icon-list-demo div {
    color: rgba(255, 255, 255, 0.7);
}

.dark-skin .btn-toggle:before, .btn-toggle:after {
    color: rgba(255, 255, 255, 0.7);
}

.dark-skin .pagination li a {
    color: rgba(255, 255, 255, 0.7);
}
.dark-skin .dp-off {
    background-color: #212121!important;
}
.dark-skin .dp-divider {
    border-color: rgba(255, 255, 255, 0.12) !important;
}

.dark-skin .modal-fill .modal-content {
    background: rgba(65, 71, 85, 0.9);
}

.dark-skin .modal.modal-fill {
    background: rgba(49, 54, 64, 0.9);
}
.dark-skin .myadmin-dd .dd-list .dd-item .dd-handle, .dark-skin .myadmin-dd-empty .dd-list .dd3-content, .dark-skin .myadmin-dd-empty .dd-list .dd3-handle {
    background: #212121;
}
.dark-skin .grid-stack-item-content {
    background: #212121;
    color: rgba(255, 255, 255, 0.7);
}

.dark-skin .sweet-alert {
    background-color: #212121;
}
.dark-skin .sweet-alert h2, .dark-skin .sweet-alert p {
    color: rgba(255, 255, 255, 0.7);
}
.dark-skin .sweet-alert .sa-icon.sa-success::before, .dark-skin .sweet-alert .sa-icon.sa-success::after, .dark-skin .sweet-alert .sa-icon.sa-success .sa-fix {
    background-color: #212121;
}

.dark-skin .table-separated tbody tr {
    background-color: #4f5667;
}
.dark-skin .dataTable input, .dark-skin .dataTable select {
    border-color: rgba(255, 255, 255, 0.12);
	color: #8f969c;
    background-color: #212121;
}

.dark-skin .box .knob-label {
    color: #8f969c;
}

.dark-skin .ct-grid {
    stroke: rgba(255, 255, 255, 0.2);
}
.dark-skin .ct-label {
    fill: rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0.4);
}

.dark-skin .invoice, .dark-skin .invoice-details  {
    border-color: rgba(255, 255, 255, 0.12);
    background-color: #212121;
}

.dark-skin .product-list-in-box>.item {
    border-color: rgba(255, 255, 255, 0.12);
}

.dark-skin .list-group-item {    
    background-color: #424242;    
	border: 1px solid rgba(255, 255, 255, 0.12);
}

.dark-skin .attachment-block {
    border-color: rgba(255, 255, 255, 0.12);
    background-color: #212121;
}

.dark-skin .attachment-block .attachment-text {
    color: #8f969c;
}
.dark-skin .box-comments .username {
    color: #ffffff;
}
.dark-skin .box-comments .comment-text {
    color: #8f969c;
}

.dark-skin .box-comments .box-comment {
    border-color: rgba(255, 255, 255, 0.12);
}

.dark-skin a.bg-light:focus, .dark-skin a.bg-light:hover, .dark-skin button.bg-light:focus, .dark-skin button.bg-light:hover {
    background-color: #212121!important;
}
.dark-skin .lookup input {
	color: rgba(255, 255, 255, 0.7);
}
.dark-skin .btn.btn-outline {
    border-color: rgba(255, 255, 255, 0.12);
}

.dark-skin .divider::before, .dark-skin .divider::after {
    border-top: 1px solid #4d5060;
}
.dark-skin .list-style-none li.divider {
    background: #4d5060;
}
.dark-skin .badge-ring::after {
    background-color: #3b3e52;
}
.dark-skin :not(pre)>code[class*="language-"], .dark-skin pre[class*="language-"] {
    background: #212121;
    border: 1px solid #333333;
    border-left: 2px solid #3BAFDA;
}
.dark-skin hr {
    border-top-color: rgba(255, 255, 255, 0.1);
}
.dark-skin .icons-list-demo div {
    color: #898b96;
}
.dark-skin .btn-light {
    background-color: #212121;
    border-color: rgba(255, 255, 255, 0.12);
    color: #929daf;
}
.dark-skin .custom-file-label {
    background-color: #424242;
    border: 1px solid rgba(255, 255, 255, 0.12);
}
.dark-skin .custom-file-label::after {
    color: #898b96;
    background-color: #212121;
    border-left: 1px solid rgba(255, 255, 255, 0.12);
}
.dark-skin .dropzone {
    background: #212121;
}





.dark-skin .main-header li.user-header {
  background-color: #fff;
}
.dark-skin .main-header .navbar .sidebar-toggle, 
.dark-skin .main-header .navbar .res-only-view {
    color: #ffffff;
}
.dark-skin .main-header .navbar .nav > li > a {
    color: #ffffff;
}
.dark-skin .main-header .navbar .nav > li > a:hover, 
.dark-skin .main-header .navbar .nav > li > a:active, 
.dark-skin .main-header .navbar .nav > li > a:focus, 
.dark-skin .main-header .navbar .nav .open > a, 
.dark-skin .main-header .navbar .nav .open > a:hover, 
.dark-skin .main-header .navbar .nav .open > a:focus, 
.dark-skin .main-header .navbar .nav > .active > a{ 
    background-color: rgba(0, 0, 0, 0.05);
}
.dark-skin .main-sidebar,
.dark-skin .left-side {
    box-shadow: 0 10px 15px -5px rgba(62, 57, 107, .07);
    background-color: rgba(66, 66, 66, 0.75);
}
.dark-skin .user-panel > .info,
.dark-skin .user-panel > .info > a {
  color: #fff;
}
.dark-skin .sidebar-menu>li:hover>a, 
.dark-skin .sidebar-menu>li.active>a, 
.dark-skin .sidebar-menu > li.menu-open > a{
  color: #ffffff;
}
.dark-skin .sidebar-menu li.header {
    color: #90A4AE;
}
.dark-skin .sidebar-menu>li>a>.fa, 
.dark-skin .sidebar-menu>li>a>.glyphicon, 
.dark-skin .sidebar-menu>li>a>.ion, 
.dark-skin .sidebar-menu>li>a>i{
	color: #90A4AE;
}

.dark-skin .sidebar-menu>li.active>a>i, 
.dark-skin .sidebar-menu>li:hover>a>i, 
.dark-skin .sidebar-menu>li.menu-open>a>i {
    color: #90A4AE;
	border: 1px solid #90A4AE;
}
.dark-skin .sidebar-menu > li > .treeview-menu {
  margin: 0 0px;
}
.dark-skin.sidebar-collapse .sidebar-menu > li > .treeview-menu {
    background-color: rgba(66, 66, 66, 0.75);
}
.dark-skin.sidebar-mini.sidebar-collapse .sidebar-menu>li>a>span {
    background-color: rgba(66, 66, 66, 0.75) !important;
}
@media (max-width:767px) {
	.dark-skin.sidebar-mini.sidebar-collapse .sidebar-menu>li>a>span {
		background-color: rgba(66, 66, 66, 0) !important;
	}
	.dark-skin.sidebar-mini.sidebar-collapse .sidebar-menu>li.menu-open>a, .dark-skin.sidebar-mini.sidebar-collapse .sidebar-menu>li.active>a {
		background-color: rgba(66, 66, 66, 0.75) !important;
	}
}
.dark-skin .sidebar a {
  color: #ffffff;
}
.dark-skin .sidebar a:hover {
  text-decoration: none;
}
.dark-skin .sidebar-form {
  border-radius: 3px;
  border: 1px solid #898989;
}
.dark-skin .sidebar-form input[type="text"],
.dark-skin .sidebar-form .btn {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.59);
  border: 1px solid rgba(0, 0, 0, 0.59);
  height: 35px;
}
.dark-skin .sidebar-form input[type="text"] {
  color: #fff;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.dark-skin .sidebar-form input[type="text"]:focus,
.dark-skin .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  color: #fff;
}
.dark-skin .sidebar-form .btn {
  color: #f7f7f7;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}

.dark-skin .main-footer {
    background-color: rgba(48, 48, 48, 0.8);
    color: #ffffff;
    border-top: 1px solid rgba(255, 255, 255, 0.12);
}
.dark-skin .nav-dot-separated .nav-item::after, 
.dark-skin .nav-dot-separated > .nav-link::after {
	color: rgba(255, 255, 255, 0.7);
}

.dark-skin .box {
    background-color: #424242;
	box-shadow: 0px 1px 3px 0px rgba(64, 64, 64, 1), 0px 1px 1px 0px rgba(42, 42, 42, 1), 0px 2px 1px -1px rgba(20, 20, 20, 1);
}
.dark-skin .box-header {
    color: rgba(255, 255, 255, 0.7);
}


.dark-skin .control-sidebar {
    color: #b8c7ce;
}
.dark-skin .control-sidebar, 
.dark-skin .control-sidebar+.control-sidebar-bg {
    background: #2f2e2e;
}
.dark-skin .control-sidebar .nav-tabs.control-sidebar-tabs {
    border-bottom: 1px solid #5f5f5f;
}
.dark-skin .control-sidebar .nav-tabs.control-sidebar-tabs>li>a {
    color: #ccc;
}
.dark-skin .control-sidebar .control-sidebar-heading, 
.dark-skin .control-sidebar .control-sidebar-subheading, 
.dark-skin .control-sidebar .nav-tabs.control-sidebar-tabs>li>a:hover {
    color: #fff;
}
.dark-skin .control-sidebar .nav-tabs.control-sidebar-tabs>li>a, 
.dark-skin .control-sidebar .nav-tabs.control-sidebar-tabs>li>a:focus, 
.dark-skin .control-sidebar .nav-tabs.control-sidebar-tabs>li>a:hover {
    
}
.dark-skin .control-sidebar .nav-tabs.control-sidebar-tabs>li>a:active, 
.dark-skin .control-sidebar .nav-tabs.control-sidebar-tabs>li>a:focus, 
.dark-skin .control-sidebar .nav-tabs.control-sidebar-tabs>li>a:hover {
    background-color: transparent;
}
.dark-skin .control-sidebar .nav-tabs.control-sidebar-tabs>li>a.active, 
.dark-skin .control-sidebar .nav-tabs.control-sidebar-tabs>li>a.active:active, 
.dark-skin .control-sidebar .nav-tabs.control-sidebar-tabs>li>a.active:focus, 
.dark-skin .control-sidebar .nav-tabs.control-sidebar-tabs>li>a.active:hover {
    background-color: transparent;
}
.dark-skin .control-sidebar-dark .control-sidebar-menu>li>a:hover {
    background: #1e282c;
}
.dark-skin .control-sidebar .control-sidebar-menu>li>a .menu-info>p {
    color: #b8c7ce;
}




